<ng-container *ngIf="githubUser$ |async as githubUser">
  <div class="content">
    <div class="avatar">
      <img alt="{{githubUser.username}}" src="{{githubUser.avatar}}"/>
      <h1> {{githubUser.username}} </h1>
      <button (click)="goToGithubProfile()" color="accent" mat-raised-button> Go to github profile</button>
    </div>
    <div class="details">
    </div>
    <div class="repositories">
      <h2>Repositories</h2>
      <p>Your repositories size : <b>{{githubUser.repoSize |filesSize}}</b></p>
      <div class="repositories-list">
        <app-user-repository [repository]="repo" *ngFor="let repo of githubUser.repos"></app-user-repository>
      </div>
    </div>
  </div>
</ng-container>
<div *ngIf="!(githubUser$|async) && !userNotFound">
  <div class="loading-indicator">
    <app-loading-indicator></app-loading-indicator>
  </div>

</div>
<div *ngIf="userNotFound" class="content">
  <h2>User not found</h2>
</div>
