.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

.nav-bar {
  width: 100vw;
}

.side-bar{
  width: 20vw;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
