.content {
  display: flex;
  flex-direction: row;
  margin: 5px 0 5px 0;
  width: 100%;
  cursor: pointer;

  td {
    display: flex;
    align-items: center;
  }
  .username{
    min-width: 200px;
  }
}

img {
  border-radius: 50%;
  width: 32px;
}

