.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;

  .details {
    display: flex;
    align-items: center;

    .details-content {
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        width: 32px;
        margin-right: 10px;
      }

      .username {
        min-width: 140px;
      }

      .timestamp {
        margin-left: auto;
      }
    }
  }

  td {
    margin-left: 10px;
  }
}
