<div class="content">
  <div class="input">
    <mat-form-field appearance="outline">
      <mat-label>Find user</mat-label>
      <input [formControl]="githubUserControl" matInput placeholder="Username">
      <button (click)="searchByUsername()" mat-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="login-logout">
      <button (click)="login()" *ngIf="!isLogged() " color="accent" mat-raised-button> LOGIN</button>
      <button (click)="logout()" *ngIf="isLogged()" color="accent" mat-raised-button> LOGOUT</button>
  </div>
  </div>
</div>


