.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  img {
    margin: 2%;
    max-width: 220px;
  }
}
