.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

.nav-bar {
  height: 10vh;
  width: 100vw;
}

.side-bar{
  width: 25vw;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 84vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0;
  width: 100%;
  height: 5vh;
  border-top: black 5px solid;
  color: white;

  img {
    margin: 5px 10px 0 10px;
    max-height: 36px;
  }
}
