.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

.nav-bar {
  width: 100vw;
}

.side-bar{
  width: 25vw;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: black 5px solid;
  color: white;

  img {
    margin: 5px 10px 0 10px;
    max-height: 36px;
  }
}
