<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>{{repository.name}}</h3>
    </mat-panel-title>
    <mat-panel-description>
      {{repository.language}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <ng-container *ngIf="repository.description as description">
      <h3>Description</h3>
      {{description}}
    </ng-container>
  </div>
  <p>Repository size: <b>{{repository.size |filesSize}}</b></p>
  <div class="links">
  <h3>Links</h3>
    <a href="{{repository.htmlUrl}}" target="_blank">Github Page</a>

    <p [cdkCopyToClipboard]="repository.cloneUrl" matTooltip="Click to copy to clipboard">
      <b>Clone:</b> {{repository.cloneUrl}}</p>

    <p [cdkCopyToClipboard]="repository.sshUrl" matTooltip="Click to copy to clipboard">
      <b>SSH:</b> {{repository.sshUrl}}</p>

  </div>

</mat-expansion-panel>
